
<title>
	<%= title%>
</title>
<link rel="stylesheet" href="/css/styles.css">

<div class="container">
	<div class="navigation">
		<ul>
			<li>
				<a href="#">
					<span class="icon"><ion-icon name="grid-outline"></ion-icon></span>
					<span class="title">XeroCodee</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon"><ion-icon name="file-tray-stacked-outline"></ion-icon></span>
					<span class="title">Builder Center</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon"><ion-icon name="qr-code-outline"></ion-icon></span>
					<span class="title">Service Board</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon"><ion-icon name="gift-outline"></ion-icon></span>
					<span class="title">Clusters</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon"><ion-icon name="list-outline"></ion-icon></span>
					<span class="title">Database</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon"><ion-icon name="file-tray-outline"></ion-icon></span>
					<span class="title">Environment</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon"><ion-icon name="cube-outline"></ion-icon></span>
					<span class="title">Workflow</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon"><ion-icon name="desktop-outline"></ion-icon></span>
					<span class="title">Monitoring</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon"><ion-icon name="finger-print-outline"></ion-icon></span>
					<span class="title">Security </span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon"><ion-icon name="logo-web-component"></ion-icon></span>
					<span class="title">Web Hooks</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon"><ion-icon name="bug-outline"></ion-icon></span>
					<span class="title">Log Error</span>
				</a>
			</li>
		</ul>
	</div>

	<!-- Main -->
	<div class="main">
		<div class="topbar">	
			<!-- Search -->
			<div class="search">
				<label for="">
					<ion-icon name="search-outline"></ion-icon>
					<input type="text" placeholder="Search">
				</label>
			</div>
			<!-- userImage -->
			<div class="box">
				<div class="box-1">
					<ion-icon name="gift-outline"></ion-icon>
					<p>Upgrade Plan</p>
				</div>
				<div class="icons">
					<ion-icon name="notifications-outline"></ion-icon>
					<ion-icon name="mail-outline"></ion-icon>
					<ion-icon name="settings-outline"></ion-icon>
				</div>
				<div class="box-3">
					<p style="margin-right: 5px;">XeroCodee</p>
					<ion-icon style="margin-right: 5px;" name="chevron-down-outline"></ion-icon>
					<ion-icon class="profile" style="margin-right: 5px;" name="person-outline"></ion-icon>
				</div>
			</div>
		</div>


		<!-- cards -->

		<div class="cardBox">
			<div class="card">
				<div class="left">
					<h1 class="mb-2 mt-0 text-5xl font-medium leading-tight text-primary">Hi Arya!</h1>
					<p>Welcome to XeroCodee Ecosystem</p>
				</div>
				
				<div class="right">
					<p style="margin-right: 8px;">Test Mode</p>
					<input style="margin-right: 8px;"
				class="mr-2 mt-[0.3rem] h-3.5 w-8 appearance-none rounded-[0.4375rem] bg-neutral-300 before:pointer-events-none before:absolute before:h-3.5 before:w-3.5 before:rounded-full before:bg-transparent before:content-[''] after:absolute after:z-[2] after:-mt-[0.1875rem] after:h-5 after:w-5 after:rounded-full after:border-none after:bg-neutral-100 after:shadow-[0_0px_3px_0_rgb(0_0_0_/_7%),_0_2px_2px_0_rgb(0_0_0_/_4%)] after:transition-[background-color_0.2s,transform_0.2s] after:content-[''] checked:bg-primary checked:after:absolute checked:after:z-[2] checked:after:-mt-[3px] checked:after:ml-[1.0625rem] checked:after:h-5 checked:after:w-5 checked:after:rounded-full checked:after:border-none checked:after:bg-primary checked:after:shadow-[0_3px_1px_-2px_rgba(0,0,0,0.2),_0_2px_2px_0_rgba(0,0,0,0.14),_0_1px_5px_0_rgba(0,0,0,0.12)] checked:after:transition-[background-color_0.2s,transform_0.2s] checked:after:content-[''] hover:cursor-pointer focus:outline-none focus:ring-0 focus:before:scale-100 focus:before:opacity-[0.12] focus:before:shadow-[3px_-1px_0px_13px_rgba(0,0,0,0.6)] focus:before:transition-[box-shadow_0.2s,transform_0.2s] focus:after:absolute focus:after:z-[1] focus:after:block focus:after:h-5 focus:after:w-5 focus:after:rounded-full focus:after:content-[''] checked:focus:border-primary checked:focus:bg-primary checked:focus:before:ml-[1.0625rem] checked:focus:before:scale-100 checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca] checked:focus:before:transition-[box-shadow_0.2s,transform_0.2s] dark:bg-neutral-600 dark:after:bg-neutral-400 dark:checked:bg-primary dark:checked:after:bg-primary dark:focus:before:shadow-[3px_-1px_0px_13px_rgba(255,255,255,0.4)] dark:checked:focus:before:shadow-[3px_-1px_0px_13px_#3b71ca]"
				type="checkbox"
				role="switch"
				id="flexSwitchCheckDefault" />
					<p >Production Mode</p>
				</div>
			</div>
		</div>

		
		<div class="details">
			<!-- order details list -->
			<div class="steps">
				<div class="headings">
					<p>Step 1</p>
					<p>Connect to Cloud</p>
				</div>
				<div class="card-box">
					<div class="card">
						<p>AWS</p>
						<img src="" alt="logo" />
					</div>
					<div class="card">
						<p>GCP</p>
						<img src="" alt="logo" />
					</div>
				</div>
			</div>

			<!-- New customer -->
			<div class="progress-box">
				<div class="cardHeader" style="margin-bottom: 30px;">
					<h1 class="mt-0 text-2xl font-medium leading-tight text-primary">Your Progress</h1>
					<p>towards XeroCodee</p>
				</div>
				<div class="progress-bar-container">
					<div class="progress-bar html">
					  <progress id="html" min="0" max="100" value="72"></progress>
					</div>
				  	</div>  
					<button>View Details</button>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
